/* Open-Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Helps to emulate Open Sans Condensed since it
isn't readily available online or from Google Fonts */
/* Originally found it in Figma */
body {
	letter-spacing: -1px;
}

/* CHROME/SAFARI Scrollbar */
::-webkit-scrollbar {
	width: 0.5em;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
	background-color: #999;
	outline: 1px solid #999;
	border-radius: 6px;
}
/* FIREFOX Scrollbar */
body {
	scrollbar-color: #999 #555;
	scrollbar-width: thin;
}

/* Remove default link styling */
a {
	text-decoration: none;
	color: inherit;
}

/* Hides sort arrow when sorting team stats table */
#root
	> main
	> div.MuiContainer-root.MuiContainer-maxWidth100\%.MuiContainer-disableGutters.css-tco0qi-MuiContainer-root
	> div.MuiBox-root.css-105xb36
	> div
	> div
	> table
	> thead
	> tr
	> th
	> span
	> svg {
	width: 14px;
	height: 14px;
	margin-right: 0px;
}

.basicLink {
	text-decoration: underline;
}
.basicLink:hover {
	color: #b52532;
}
.navbarLink:hover {
	color: #b52532;
}

.snackbarSuccess {
	background-color: blue;
}
